body {
    font-family: "微软雅黑", serif;
    color: #000;
}

a {
    cursor: pointer;
}

.top-navbar {
    height: 22px;
    width: 100%;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E8E8E8;
    font-size: 12px;
    font-family: "微软雅黑", serif;
}

.top-navbar .top-navbar-left {
    text-align: left;
}

.top-navbar .top-navbar-right {
    text-align: right;
}

.top-navbar span {
    margin-right: 10px;
}

.top-navbar a {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    min-width: 48px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.top-navbar .top-navbar-left a {
    color: #e72510;
}

.banner-row {
    height: 68px;
    color: #0079A1;
    font-family: "微软雅黑", serif;
}

.banner-row h1 {
    margin: 3px 0 0;
    font-weight: bold;
    font-size: 32px;
}

.banner-row h5 {
    margin-top: 2px;
    font-size: 18px;
    font-family: "estrangelo edessa", serif;
}

.footer1 {
    padding-top: 10px;
    border-top: 2px solid #008CBA;
    text-align: center;
    font-size: 12px;
}

.banner {
    position: relative;
    overflow: auto;
}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
    min-height: 100px;
}

#go-top {
    position: fixed;
    right: 2px;;
    bottom: 10px;
    z-index: 20;
    display: none;
}

#go-top .btn {
    width: 45px;
    height: 45px;
}

#go-top .btn span {
    display: block;
    font-size: 20px;
    color: #323c46;
}

#search-number-box {
    background-color: #F5F5F5;
    border-top: 2px solid #0079A1;
    border-bottom: 1px solid #0079A1;
}

#search-number-box .form-group {
    margin-bottom: 5px;
}

#search-number-box .control-label {
    text-align: left;
    padding-top: 0;
}

#search-number-box .btn {
    width: 60px;
}

#search-number-box select {
    width: 120px;
    height: 22px;
    padding: 0 2px;
    font-size: 12px;
}

#search-number-box .checkbox {
    padding-top: 4px;
}

#search-number-box .checkbox input {
    position: relative;
}
#search-number-box .checkbox label {
    margin-right: 5px;
}